# Dependências
node_modules/
.pnpm-store/
venv/

# Build
dist/
.turbo/

# Python
__pycache__/
*.pyc

# Variáveis de ambiente
.env*
*.env

# Supabase CLI
supabase/.temp/

# Backups e locais
*.bak
.local/
.backups/
